{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Create Report</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Create Report</h1>
    <!--Report form for creation begins here-->
    <form method="POST" enctype="multipart/form-data">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success my-2">Upload</button>
    </form>
    <!--Report form for creation ends here-->

    <!--Form errors display if applicable-->
    {% if form.errors %}
    <div class="alert alert-danger my-2">
        {{form.errors.title.as_text}}
    </div>
    {% endif %}
    <!--User can cancel the creation and return to the home page-->
    <a href="{% url 'home' %}" class="btn btn-secondary">Cancel</a>
</body>
{% endblock %}